#Counter {
	width: 87.5%;
	margin: em(45) auto;
	height: em(50);
	border-radius: rem(15);
	transform: translateY(em(-10));
	background-color: desaturate(darken($beige, 5%), 20%);
	box-shadow: 0 0 0 em(2.35s) desaturate(darken($beige, 20%), 40%),
	0 em(10) 0 em(2.5) desaturate(darken($beige, 20%), 40%);
	border: solid em(5) desaturate(darken($beige, 15%), 20%);

	ul {
		margin-left: em(10);
		padding: 0;
		width: 60%;
		text-align: left;
		white-space: nowrap;

		li {
			display: inline-block;
			width: 0;
			height: em(30);
			line-height: em(25);
			margin: rem(10) 0;
			transition: opacity .3s, margin-left .3s .35s, width .3s .35s;
			background-color: desaturate(darken($beige, 20%), 40%);
			border-radius: em(10);
			text-align: center;
			overflow: hidden;
			white-space: nowrap;
			opacity: 0;

			&.active {
				transition: opacity .3s .35s, margin-left .3s, width .3s;
				width: em(65);
				margin-left: em(10);
				opacity: 1;
			}

			img {
				display: inline-block;
				width: em(25);
				height: em(25);
				vertical-align: middle;
			}

			p {
				margin-left: em(5);
				display: inline-block;
				vertical-align: middle;
				font-weight: 600;
			}

		}
	}
}