@mixin customScrollBox($height) {

    .custom-scroll {
        .custom-scrollbar {
            opacity: 1;
            right: 0;
            width: 15px;
            height: $height;
        }

        .outer-container {
            overflow: hidden;
        }

        .inner-container {
            height: $height;
        }

        .inner-handle {
            background-image: url("/assets/images/general/monsterball.png");
            background-color: rgba($black, 0);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}