#Navbar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	box-shadow: 0 2.5px 5px rgba($black, .25);

	ul {
		list-style-type: none;
		height: rem(60);
		margin: 0;
		padding: 0;
		background-color: darken($grey, 25%);

		li {
			cursor:pointer;
			float: left;
			height: rem(20);
			position: relative;
			margin: rem(20) rem(10);
			
			.nav-item_link {
				font-size: rem(12);
				letter-spacing: rem(2);
				text-transform: uppercase;
				line-height: rem(20);
				margin: 0 rem(10);
				display: block;
				color:white;
				position: relative;
				text-align: center;
				text-decoration: none;

			}

			&.active {

				.nav-item_link {
	
					&:before, &:after {
						background-color: darken($grey, 25%);
						content:'';
						position: absolute;
						left: 50%;
						display: inline-block;
						width: rem(10);
						height: rem(5);
						transform: translateX(-50%);
						z-index: 2;
					}
	
					&:before {
						bottom: 100%;
						border-radius: rem(2.5) rem(2.5) 0 0;
					}
	
					&:after {
						top: 100%;
						border-radius: 0 0 rem(2.5) rem(2.5);
					}
				}

				&:before, &:after {
					content:'';
					position: absolute;
					left: 50%;
					display: inline-block;
					width: rem(30);
					height: rem(15);
					z-index: 1;
					transform: translateX(-50%);
					box-shadow: -3px 0 3px rgba($black, .25);
				}

				&:before {
					bottom: 100%;
					background-color: $red;					
					border-radius: rem(5) rem(5) 0 0;
				}

				&:after {
					top: 100%;
					background-color: $white;
					border-radius: 0 0 rem(5) rem(5);
				}
			}
		}
	}
}