#pokedex {
	width: 100%;
	border-radius: rem(15);
	transform: translateY(em(-10));
	background-color: desaturate(darken($beige, 5%), 20%);
	box-shadow: 0 0 0 em(5) desaturate(darken($beige, 20%), 40%),
	0 em(20) 0 em(5) desaturate(darken($beige, 20%), 40%);
	border: solid em(5) desaturate(darken($beige, 15%), 20%);

	@include customScrollBox(em(610));
	
	.monster-container {
		width: 100%;
		text-align: center;
		padding-bottom: rem(15);
	}

}