@mixin setThumbColor($color) {
	
	background-color: $color;
	margin-bottom: em(20);
	box-sizing: border-box;
	box-shadow: 0 em(7.5) darken($color, 50%);
	transition: background-color .1s, box-shadow .1s, transform .1s;
	
	&:active {
		background-color: lighten($color, 5%);
		box-shadow: 0 em(5) darken($color, 55%);
		transform: translateY(em(10));

		&:after {
			background-color: rgba($white, .25);
		}

		.monsterName,
		.numberTab .numberDigits {
			opacity: .5;
		}
	}
}

.thumb_default {
	@include setThumbColor($white);
	font-size: rem(9.35);
	width: em(155);
	height: em(175);
	border-radius: 0 em(15) em(15) em(15);
	cursor: pointer;
	background-repeat: no-repeat;
	background-position-x: 55%;
	background-position-y: 50%;
	display: inline-block;
	position: relative;
	margin: em(50) em(5) em(5);

	@include media(mobile) {
		width: em(75);
		height: em(70);
		border-radius: em(10);
	}

	&:before,
	&:after,
	.monsterImage {
		content: '';
		background-color: transparent;
		background-repeat: no-repeat;
		border-radius: em(15);
		width: em(135);
		height: em(135);
		position: absolute;
		left: em(10);
		top: em(10);
	}
	
	&:before {
		background-image: url('/assets/images/general/icon_question.png');
		background-size: contain;
		z-index: 1;
		transition: all .3s;
	}

	&:after {
		z-index: 5;
		transition: all .1s;
		background-color: rgba($white, 0);
	}

	.monsterImage {
		opacity: 0;
		z-index: 2;
		transition: opacity .6s .3s;
	}

	.numberTab {
		background-color: $white;
		width: em(75);
		height: em(35);
		border-radius: em(15) em(15) 0 0;
		position: absolute;
		left: 0;
		bottom: 99%;
		z-index: 2;
	
		.numberDigits {
			font-size: em(25);
			font-weight: 500;
			color: black;
			display: inline-block;
			transition: all .1s;
			opacity: 1;
		}
	}
	
	.monsterName {
		font-weight: 400;
		width: 100%;
		line-height: 1.3;
		position: absolute;
		left: 0;
		bottom: 0;
		opacity: 1;
		color: $black;
		transition: all .1s;
		font-size: em(25);
		z-index: 2;
	}
}

