#App {
	width: 100vw;
	min-height: 100vh;
	background-color: $beige;
	
	* { font-family: 'Exo 2', sans-serif;}

	.main {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;

		.app-wrapper {
			opacity: 0;
			transition: opacity .5s;
		}
	}	
	
	.app-content-wrapper {
		width: 100%;
		max-width: rem(1440);
		height: 100vh;
		display: table;
		margin: 0 auto;
		text-align: center;
		
		.column-container {
			position: relative;
			width: 50%;
			display: table-cell;
			vertical-align: middle;
			
			&:only-of-type {
				width: 100%;
			}
		}
	}
}