
//colors variables
$white:		white;
$grey:		#707064;
$black:		black;

$darker:		darken($grey, 10%);

$brass:		#6d7a6d;
$bronze:	#aa5a20;
$silver:	#719dae;
$gold:		#b3a31f;

$beige:		#F4EED7;
$sand:		#C9C3A9;

$yellow:	#FFBD13;
$blue: 		#3E6AB8;
$red:		#D13923;

$softred: #fa624e;
$lightgreen: #a1ff75;


:export {
	beige		: $beige;
	brass		: $brass;
	bronze		: $bronze;
	darker		: $darker;
	gold		: $gold;
	grey		: $grey;
	sand		: $sand;
	silver 		: $silver;
	yellow		: $yellow;
	blue 		:$blue;
	red 		:$red;
}


//types colors

$types: (
	"normal":	#bebebe,
	"fighting":	#f0a758,
	"flying":	#7daae4,
	"poison":	#c68fc8,
	"ground":	#d1b65d,
	"rock":		#bd9b6e,
	"bug":		#81c868,
	"ghost":	#8b86c0,
	"steel":	#86a7af,
	"fire":		#ea7d5e,
	"water":	#6db7e1,
	"grass":	#aacc30,
	"electric":	#ebd140,
	"psychic":	#eb99bd,
	"ice":		#75cdea,
	"dragon":	#8494d2,
	"dark":		#5d5a6d,
	"fairy":	#e782c6
);

@function typeColor($key) {
	@return map-get($types, $key);
}

:export {
	fighting 	: typeColor('fighting');
	flying 		: typeColor('flying');
	poison 		: typeColor('poison');
	ground 		: typeColor('ground');
	rock 		: typeColor('rock');
	bug 		: typeColor('bug');
	ghost 		: typeColor('ghost');
	steel 		: typeColor('steel');
	fire 		: typeColor('fire');
	water 		: typeColor('water');
	grass 		: typeColor('grass');
	electric 	: typeColor('electric');
	psychic 	: typeColor('psychic');
	ice 		: typeColor('ice');
	dragon 		: typeColor('dragon');
	dark 		: typeColor('dark');
	fairy 		: typeColor('fairy;')
}
