// font-faces/imports

@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,700,800&subset=cyrillic,latin-ext');

// reset fonts properties
body,
html {
	@include media(mobile) {
		font-size: (1600 / strip-units($phone)) + vw;
	}
	@include media(tablet, portrait) {
		font-size: (1600 / strip-units($mobile)) + vw;
	}
	@include media(tablet, landscape) {
		font-size: (1600 / strip-units($desktop)) + vw;
	}
	@include media(desktop) {
		font-size: (1600 / strip-units($layout)) + vw;
	}
}

* {
    font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.005);
}

