@import "vars";
@import "colors";
@import "functions";
@import "keyframes";
@import "fonts";
@import "reset";
@import 'types';

@import '../../node_modules/react-custom-scroll/dist/customScroll.css';

html {
    font-size: 0.83vw;
    
    @include media(mobile) {
        font-size: 4.26vw;
    }
}

@import 'components/_CustomScroll';
@import 'components/_ControlBar';

@import 'components/App';
@import 'components/_Pot';
@import 'components/_Button';
@import 'components/_Thumb';
@import 'components/_Pokedex';
@import 'components/_Cabinet';
@import 'components/_Display';
@import 'components/_Info';
@import 'components/_Overlay';
@import 'components/_Navbar';
@import 'components/_Pantry';
@import 'components/_Ingredient';
@import 'components/_SkillsBlock';
@import 'components/_Counter';
